hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.airing-anime-img,
.search-anime-img,
.upcoming-anime-img,
.top-anime-img,
.schedule-anime-img {
  margin-bottom: 15px;
  margin-top: 15px;
}

.d-flex {
  margin-top: 50px;
}

.airing-home-page,
.search-page,
.upcoming-page,
.top-page,
.schedule-page {
  margin-top: 100px;
}

.ca-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  padding-right: 12px;
}

.anime-row {
  margin-top: 20px;
  margin-bottom: 40px;
}

.upcoming-anime-title,
.airing-anime-title,
.search-anime-title,
.top-anime-title,
.schedule-anime-title {
  font-size: 22px;
  cursor: pointer;
}

@media screen and (max-width: 959px) {
  .related-elements {
    margin-bottom: 5%;
  }

  .schedule-anime {
    max-width: 128px !important;
    display: flex;
    margin-top: 10%;
  }

  .save-button {
    padding: 5px 80px !important;
    background-color: rgb(65, 92, 211);
    color: white;
    margin-top: 90% !important;
    margin-left: 25%;
    font-size: 14px;
    white-space: nowrap;
  }

  .anime-airing {
    display: flex;
    width: 360px !important;
    padding-left: 10px;
    text-align: center;
    justify-content: space-between;
  }

  .anime-data {
    margin: 10px;
  }

  .col-sm img {
    max-width: 100px;
  }

  .airing-anime,
  .upcoming-anime,
  .search-anime,
  .top-anime {
    width: 33%;
  }

  .airing-anime-title,
  .upcoming-anime-title,
  .search-anime-title,
  .top-anime-title,
  .schedule-anime-title {
    font-size: 14px;
  }

  .bg-image {
    z-index: 0;
    background: black;
  }

  .bg-image img {
    width: 390px !important;
    height: 1000px !important;
    object-fit: cover !important;
    opacity: 0.7;
  }

  #sub-header {
    font-size: 10px;
  }

  .saitama-ok {
    width: 150px !important;
    height: 150px !important;
    padding-bottom: 10px;
    margin-left: 50px !important;
  }

  .rankings {
    width: 30px !important;
    height: 30px !important;
    font-size: 14px;
  }

  .hero-img-row {
    height: 30% !important;
  }

  .details-section {
    margin-top: 38% !important;
  }

  .details-anime-img {
    margin-left: 5% !important;
  }

  .top-anime-img,
  .schedule-anime-img,
  .airing-anime-img {
    width: 100px !important;
    height: 153px !important;
  }

  .related-row {
    margin-top: 5% !important;
  }

  .related-info {
    width: 260px !important;
  }
}

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#not-found {
  text-align: center;
}

.schedule-anime {
  max-width: 264px;
}

.weekday {
  margin-top: 15px;
}

.details-section {
  margin-top: 15%;
}

.anime-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5%;
  margin-top: 5%;
}

.airing-info {
  max-width: 260px;
  margin-top: 10px;
}

.related-row {
  margin-top: 1.75%;
}
